        <style>
            h1{
              font-size: 80px;
              color:orange;
              background-color:black;
              width: 100%;
              text-align: center;
            }
            #publish{
              font-size: 30px;
              color: white;
              background-color: tomato;
              width: 100%;
              text-align: center;
            }
            #Base{
              color: black;
              background-color: orange;
              width: 100%;
              font-size: 60px;
              text-align: center;
            }
            #star{
             font-size: 35px;
             color: darkslateblue;
             background-color: lightgreen;
             width: 100%;
             height: 40px;
             text-align: center;
            }
            .dwah{
              font-size: 60px;
              color: gold;
              background-color: black;
              width: 100%;
              text-align:center;
            }
            #link{
              color: black;
              background-color: skyblue;
              font-size: 20px;
              width: 100%;
              height: 50px;
            }
            .Jibon{
              font-size: 15px;
              color: white;
              background-color: purple;
              font-size: 80px;
              width: 100%;
              text-align: center;
            }
            .input{
             
              font-size: 30px;
              color: white;
              width: 100%;
              background-color:slateblue;
            }
            #button_design{
              color: black;
              background-color: skyblue;
              width: 80px;
              height: 40px;
              font-size: 20px;
            }
            .box{
              width: 100%;
              height: 30px;
            }
            h3.dwah{
              font-size: 40px;
              color:floralwhite;
              background-color: deeppink;

            }
        </style>